.page[b-vmfx5v6145] {
    display:grid;
    grid-template-columns: 1fr;
    gap:2em;
}
object[b-vmfx5v6145] {
  
}
embed[b-vmfx5v6145] {
    width: 100%;
    height: 20em;
}
.display-form-true[b-vmfx5v6145] {
    display:block;
}
.display-form-false[b-vmfx5v6145] {
    display:none;
}
h3[b-vmfx5v6145] {
    text-align:center;
}
@media only screen and (min-width:1000px) {
    .page[b-vmfx5v6145] {
        display: grid;
        grid-template-columns: 16em 2fr;
        gap: 2em;
    }
    embed[b-vmfx5v6145] {
        width: 100%;
        height: 45em;
    }
}